.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 30px 0;
  box-sizing: border-box;
}

.about-us__wrapper{
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 30px;
}

.about-us__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95px;
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 20px;
  color: $item-color;
}

.about-us__item {
  margin: 0;
  margin-top: 10px;
}

.about-us__item:nth-child(2) {
  margin-top: 0;
}

.about-us__item--materials::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-1.svg") no-repeat 50% 50%;
}

.about-us__item--style::before {
  display: block;
  width: 50px;
  height: 30px;
  content: "";
  background: url("../img/icon-feature-3.svg") no-repeat 50% 100%;
}

  .about-us__item--likes::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-5.svg") no-repeat 50% 0%;
}

.about-us__item--love::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-2.svg") no-repeat 50% 50%;
}

.about-us__item--manufacturer::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-4.svg") no-repeat 50% 40%;
}

.about-us__item--packaging::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-6.svg") no-repeat 35% 1%;
}

@media (min-width: 768px) {
  .about-us {
    padding: 0 50px;
  }

  .about-us__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 630px;
  }

  .about-us__item {
    display: inline-block;
    max-width: 300px;
    font-size: 20px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
    box-sizing: border-box;
  }

  .about-us__item::before {
    max-height: 35px;
    margin-bottom: 20px;
  }

  .about-us__item--style::before {
    margin-top: 10px;
  }

  .about-us__item--likes::before {
    margin-top: 5px;
  }

  .about-us__item--packaging::before {
    margin-top: 5px;
  }

  .about-us__item--manufacturer::before {
    margin-top: 10px;
  }

  .about-us__item--style {
    order: 2;
  }

  .about-us__item--likes {
    order: 4;
  }

  .about-us__item--love {
    order: 1
  }

  .about-us__item--manufacturer {
    order: 3
  }

  .about-us__item--packaging {
    order: 5;
  }
}

@media (min-width: 1150px) {
  .about-us {
    padding-left: 225px;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .about-us__wrapper {
    align-items: flex-start;
    max-width: 677px;
    padding-right: 225px;
  }

  .about-us__item {
    max-width: 300px;
    text-align:left;
    padding-right: 0;
    box-sizing: border-box;
  }

  .about-us__item--likes::before {
    margin-bottom: 15px;
  }

  .about-us__item--packaging::before {
     margin-bottom: 15px;
  }

}
