.about-us {
  display: flex;
  flex-direction: column;
  padding: 35px 30px;
  box-sizing: border-box;
}

.about-us__item {
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 20px;
  color: $item-color;
}

.about-us__item:nth-child(2)::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-1.svg") no-repeat 50% 50%;
}

.about-us__item:nth-child(3)::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-3.svg") no-repeat 50% 50%;
}

.about-us__item:nth-child(4)::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-5.svg") no-repeat 50% 50%;
}

.about-us__item:nth-child(5)::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-2.svg") no-repeat 50% 50%;
}

.about-us__item:nth-child(6)::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-4.svg") no-repeat 50% 50%;
}

.about-us__item:nth-child(7)::before {
  display: block;
  width: 50px;
  height: 40px;
  content: "";
  background: url("../img/icon-feature-6.svg") no-repeat 50% 50%;
}

@media (min-width: 768px) {
  .about-us {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 50px 80px;
  }

  .about-us__item {
    width: 300px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: 1150px) {
  .about-us {
    justify-content: flex-start;
    margin-left: 225px;
  }

  .about-us__item {
    width: 30%;
    text-align:left;
  }

  .about-us__item:nth-child(even) {
    margin-right: 115px;
  }
}
