.action-block {
  display: none;
}

.action-block__item:hover {
  color: #666666;
}

@media (min-width: 1150px) {
  .action-block {
    position: absolute;
    left: 50px;
    top: 80px;
    display: inline-block;
    width: 800px;
    max-height: 60px;
    padding-top: 25px;
  }

  .action-block__item {
    margin-right: 35px;
    text-decoration: none;
    color: black;
    font-family: $main-font-bold;
    font-size: 15px;
    line-height: 24px;
  }

  .action-block-sale {
    padding-left: 25px;
  }
}
