.button {
  display: block;
  padding: 12px 0;
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 24px;
  color: $main-text-color;
  text-transform: uppercase;
  border: 2px solid $main-text-color;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background: #444444;
  color: white;
}

.reviews .button {
  margin-bottom: 44px;
}

.production .button {
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: 32px;
}

.form-page .button {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.contacts .button {
  margin-bottom: 39px;

}

.product-card .button {
  margin-top: 27px;
  width: 256px;
}

@media (min-width: 768px) {
  .product-card .button {
    margin-top: 35px;
    width: 290px;
    order: 7;
  }

  .reviews .button {
    width: 171px;
    max-height: 48px;
    padding: 13px 0;
    order: 1;
    margin-bottom:auto;
    margin-top: 0;
    margin-left: auto;
  }

  .contacts .button {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .production .button {
    margin-left: 37px;
    margin-right: 45px;
    margin-bottom: 44px;
    order: 3;
  }

  .form-page .button {
    width: 230px;
    float: left;
    margin-top: 53px;
    margin-left: 50px;
  }
}

@media (min-width: 1150px) {
  .contacts .button {
    float: left;
    width: 230px;
    clear: left;
    margin: 80px 0 0;
  }

  .production .button {
    display: block;
    float: right;
    width: 225px;
    margin-bottom: 58px;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }

  .form-page .button {
    margin-left: 145px;
  }

  .product-card .button {
    width: 289px;
    padding: 13px 0;
    margin: 0;
  }

  .reviews .button {
    margin-top: 7px;
  }

  .form-page .button {

    margin-left: 225px;
  }

}
