.button {
  display: block;
  padding: 18px 0;
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 24px;
  color: $main-text-color;
  text-transform: uppercase;
  border: 2px solid $main-text-color;
  text-align: center;
  text-decoration: none;
}

.reviews .button {
  margin-bottom: 44px;
}

.production .button {
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: 32px;
}

.form-page .button {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.contacts .button {
  margin-bottom: 39px;
  margin-top: 39px;
}

.product-card .button {
  margin-top: 28px;
  width: 256px;
}

@media (min-width: 768px) {
  .product-card .button {
    max-width: 293px;
    order: 7;
  }

  .reviews .button {
    width: 171px;
    max-height: 48px;
    padding: 13px 0;
    order: 1;
    margin-bottom:auto;
    margin-top: 86px;
    margin-left: auto;
  }

  .contacts .button {
    width: 230px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .production .button {
    margin-left: 44px;
    margin-right: 44px;
    margin-bottom: 44px;
    order: 3;
  }

  .form-page .button {
    width: 260px;
    float: left;
    margin-top: 53px;
  }
}

@media (min-width: 1150px) {
  .contacts .button {
    float: left;
    width: 290px;
    clear: left;
    margin: 0;
  }

  .production .button {
    float: right;
    width: 230px;
    margin-bottom: 58px;
    margin-left: 0;
    margin-right: 0;
    clear: right;
  }

  .form-page .button {
    width: 260px;
    margin-left: 190px;
  }


}
