.main-nav__item .cart-button {
 margin-left: -25px;
 padding-left: 15px;
}

.cart-button span {
 margin-left: 28px;
}

@media (min-width: 768px) {
  .main-nav__item .cart-button {
    width: 265px;
    border-left: 1px solid $border-color;
  }
}
