.catalog-product-card {
  padding: 30px;
  padding-bottom: 0;
  margin-bottom: 40px;
  min-width: 258px;
  border: 1px solid $border-color;
  box-sizing: border-box;
}

.catalog-product-card__description {
  font-family: $main-font;
  font-size: 13px;
  line-height: 30px;
  color: $main-text-color;
}

.catalog-product-card__price-block {
  display: flex;
  width: 204px;
  margin-top: 20px;
  padding: 18px 0;
  flex-direction: row;
  align-items: center;
  // min-height: 72px;
  border-top: 1px solid $border-color;
}

.catalog-product-card__price {
  display: inline-block;
  width: 85px;
  min-height: 20px;
  font-family:$main-font-bold;
  font-size: 15px;
  line-height: 24px;
  vertical-align: middle;
  text-align: left;
  color: $item-color;
  margin-bottom: 0;
}

.catalog-product-card__to-cart {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: auto;
}

  .catalog-product-card__image {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
    margin-bottom: 10px;
  }

@media (min-width: 768px) {
  .catalog-product-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 335px;
    margin-bottom: 55px;
    padding: 0;
    border: 1px solid $border-color;
  }

  .catalog-product-card__image {
    margin: 0;
     width: 365px;
  }

  .catalog-product-card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding: 0 30px;
  }

  .catalog-product-card__description {
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
    padding: 0;
  }

  .catalog-product-card__price-block {
    margin-top: auto;
    width: 100%;
    max-width: 273px;
    margin-bottom: 10px;
  }

  .catalog-product-card__price {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: 1150px) {
  .catalog-product-card {
    flex-direction: column;
    width: 315px;
    min-height: 700px;
    margin-left: 0;
  }

  .catalog-product-card:last-child {
    margin-right: 0;
  }

  .catalog-product-card__info {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .catalog-product-card__image {
    width: 100%;
    min-height: 460px;
    margin-bottom: 30px;
  }

  .catalog-product-card__description {
    width: 100%;
    font-size: 15px;
    margin:0;
    padding: 0;
  }

  .catalog-product-card__price-block {
    margin-bottom: 50px;
  }

  .catalog-product-card__price {
    text-align: left;
  }


}
