.catalog-product-card__description {
  font-family: $main-font;
  font-size: 13px;
  line-height: 30px;
  color: $main-text-color;
}

.catalog-product-card__price {
  font-family:$main-font-bold;
  font-size: 15px;
  line-height: 24px;
  color: $item-color;
}
