  @media (min-width: 768px) {
    .main-nav__item .catalog-button {
      width: 140px;
      margin-left: -230px;
      margin-bottom: -155px;
    }
  }

  @media (min-width: 1150px) {
    .main-nav__item .catalog-button {
     width: 150px;
     margin-left: 0;
     margin-bottom: 0;
     padding-right: 35px;
    }
  }
