.contacts {
  display: table;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}
.contacts__email {
  display: table-row;
  font-family: $main-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-text-color;
}

.contacts__email a {
  margin-left: 30px;
  text-decoration: none;
}

.contacts__adress {
  display: table-row;
  font-family: $main-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-text-color;
}

.contacts__adress-concrete {
  margin-left: 30px;
}

.contacts__map {
  width: 100%;

}

@media (min-width: 768px) {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__email {
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 50%;
    min-height: 80px;
    margin-top: 65px;
    font-family: $main-font;
    font-size: 17px;

  }

  .contacts__adress {
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 56px;
    margin-top: 65px;
    width: 40%;
    min-height: 80px;
    font-family: $main-font;
    font-size: 17px;
    vertical-align: 30px;
  }

  .contacts__map {
    margin-top: 60px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    flex-direction: column;
    padding-left: 225px;
  }

  .contacts__email {
    display: block;

    font-family: $main-font;
    font-size: 17px;

  }

  .contacts__adress {
    display: block;
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-size: 17px;
    vertical-align: 30px;
  }

  .contacts__map {
    position: absolute;
    width: 556px;
    height: 455px;
    top: 0;
    right: 10px;
  }
}
