.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.contacts__wrapper {
  position: relative;
  padding-top: 29px;
  box-sizing: border-box;
}

.contacts__email {
  display: table-row;
  font-family: $main-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-text-color;
}

.contacts__email a {
  margin-left: 25px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid $turquoise-color;
  color: $main-text-color;
}

.contacts__email a:hover  {
  color: $turquoise-color;
}

.contacts__adress {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 37px;
  font-family: $main-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-text-color;
}

.contacts__adress-concrete {
  display: inline-block;
  margin-left: 30px;
  padding-right: 42px;
  max-width: 162px;
  vertical-align: middle;
}

.contacts__map {
  position: relative;
  width: 134.5%;
  max-height: 457px;
  margin-left: -30px;
  margin-bottom: 32px;
}

.contacts__map::before {
  position: absolute;
  content: "";
  display: block;
  width: 70px;
  height: 100px;
  top: -310px;
  left: 36%;
  background:  url("../img/icon-map-pin.svg") no-repeat;
  z-index: 10;
}

@media (min-width: 768px) {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px 0;
    align-items: flex-start;
    background: url("../img/bg-zigzag-line.svg") no-repeat;
    background-position: top;

  }

  .contacts__wrapper {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .contacts__email {
    display: inline-flex;
    width: 45%;
    min-height: 75px;
    font-family: $main-font;
    font-size: 17px;
  }

  .contacts__email a {
    max-height: 25px;
  }

  .contacts__adress {
    display: inline-flex;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 25px;
    padding-left: 30px;
    max-width: 53%;
    font-family: $main-font;
    font-size: 17px;
  }

  .contacts__adress-concrete {
    padding: 0;
    margin-left: 25px;
    min-width: 80%;
    font-size: 17px;
    line-height: 30px;
    box-sizing: border-box;
  }

  .contacts__map img{
    width: 114.5%;
    margin-top: 0;
    margin-left: -50px;
    margin-bottom: 50px;
  }

  .contacts__map::before {
    width: 70px;
    height: 100px;
    top: 300px;
    left: -147%;
    background:  url("../img/icon-map-pin.svg") no-repeat;
    z-index: 10;
  }
}

@media (min-width: 1150px) {
  .contacts {
    padding-left: 225px;
    padding-top: 85px;
    box-sizing: border-box;
    background: url("../img/bg-zigzag-line.svg") no-repeat;
    background-position: top;
    background-size: 120%;
    box-sizing: border-box;
  }

  .contacts__wrapper {
    position: relative;
    width: 1050px;
    padding-bottom: 50px;
    box-sizing: border-box;
  }

  .contacts__wrapper::before {
    position: absolute;
    content: "";
    display: block;
    height: 83px;
    width: 50px;
    left: -110px;
    top: 70px;
    background: url("../img/icon-flag.svg") no-repeat;
  }

  .contacts::after {
    content: "";
    display: table;
    clear: both;
  }

  .contacts__email {
    display: block;
    min-height: 20px;
    margin-bottom: 30px;
    float: left;
    font-family: $main-font;
    font-size: 17px;
  }

  .contacts__adress {
    display: flex;
    align-items: flex-start;
    float: left;
    width: 33%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: $main-font;
    font-size: 17px;
    vertical-align: 30px;
    clear: left;
    box-sizing: border-box;
  }

  .contacts__adress-concrete {
    width: 100%;
  }

  .contacts__map img{
    float: right;
    width: 525px;
    height: 457px;
    margin-top: -230px;
    margin-left:auto;
    clear: right;
  }

  .contacts__map::before {
    width: 70px;
    height: 100px;
    top: -10px;;
    left: 225px;;
    background:  url("../img/icon-map-pin.svg") no-repeat;
    z-index: 10;
  }
}
