.main-nav .delivery-button {
  display: none;
}

@media (min-width: 768px) {
  .main-nav .delivery-button {
    display: inline-block;
    margin-left: -90px;
    margin-bottom: -145px;
    font-family: $main-font;
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: 1150px) {
  .main-nav .delivery-button {
    display: inline-block;
    margin-left: -90px;
    margin-bottom: -145px;
    font-family: $main-font;
    font-size: 15px;
    line-height: 24px;
  }
}
