.developed-by {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  font-family: $main-font-bold;
  font-size: 19px;
  line-height: 18px;
}

.developed-by a {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 30px;
  background: $footer-background;
}
