.developed-by {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  font-family: $main-font-bold;
  font-size: 19px;
  line-height: 18px;
}

.developed-by a {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 24px;
  background: $footer-background;
}

@media (min-width: 768px) {
  .developed-by {
    display: inline-flex;
    padding: 0;
    width: 185px;
  }
}
