@font-face {
  font-family: OpenSansBold;
  src: url("../fonts/opensansbold.woff");
  src: url("../fonts/opensansbold.woff2");
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/opensans.woff");
  src: url("../fonts/opensans.woff2");
}
