.form-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 55px;
  box-sizing: border-box;
}

.form-page__title {
  width: 100%;
  margin:0;
  padding-top: 75px;
  padding-bottom: 80px;
  max-height: 175px;
  text-align: center;
  font-family: $main-font-bold;
  font-size: 27px;
  line-height: 30px;
  color: #231f20;
  border-top: 2px solid $border-color;
  border-bottom: 1px solid $border-color;
  background-color: #f1f1f1;
}

.form-page__description {
  width: 100%;
  font-family: $main-font;
  font-size: 13px;
  line-height: 24px;
  color: $main-text-color;
}

@media (min-width: 768px) {
  .wrapper {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 55px;
  }

  .form-page__title {
    min-height: 220px;
    font-family: $main-font-bold;
    font-size: 43px;
    line-height: 50px;
  }

  .form-page__description {
    font-family: $main-font;
    font-size: 13px;
    line-height: 24px;
    color: $main-text-color;
  }
}
