.form-color {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.form-color__legend {
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 16px;
  color: $turquoise-color;
  text-transform: capitalize;
}

.form-color__item {
  margin-top: 25px;
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 18px;
  color: $item-color;
}

@media (min-width: 768px) {
  .form-color {
    flex-direction: row;
  }

  .form-color__item {
    font-family: $main-font-bold;
    font-size: 19px;
    line-height: 18px;
    color: $item-color;
  }

}
