.form-tel__legend {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: capitalize;
}

.form-tel__item {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
