.form-tel__legend {
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 16px;
  color: $turquoise-color;
  text-transform: capitalize;
}

.form-tel__item {
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 18px;
  color: $item-color;
}
