.form-additionals textarea {
  width: 235px;
}
.form-additionals__legend {
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 16px;
  color: $turquoise-color;
  text-transform: capitalize;
}

.form-email__item {
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 18px;
  color: $item-color;
}
