.form-user-name {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.form-user-name__legend {
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 16px;
  color: $turquoise-color;
  text-transform: capitalize;
}

.form-user-name__items {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 20px;
}

.form-user-name__item {
  width: 100%;
  margin-top: 25px;
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 18px;
  color: $item-color;

  [placeholder] {
    font-family: $main-font;
    font-size: 17px;
    line-height: 18px;
    color: #c7c7c7;
  }
}

.form-user-name__item:first-child {
  margin-top: 0;
}

.form-user-name__item input {
  width: 100%;
  height: 45px;
  vertical-align: bottom;
  border: none;
  border-bottom: 2px solid #000000;
}

.form-user-name__item input:active {
  border-color: $turquoise-color;
}

.form-user-name__item input:hover {
  border-color: $turquoise-color;
}

@media (min-width: 768px) {
  .form-user-name {
    flex-direction: row;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  }

  .form-user-name__items {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 125px;
    padding-top: 0;
  }

  .form-user-name__item {
    display: flex;
    align-items: center;
    margin-top: 27px;
    padding-bottom:0;
    padding-top: 0;
    font-size: 19px;

    [placeholder] {
      font-size: 19px;
    }
  }

  .form-user-name__item input {
    width: 100%;
    margin-left: 25px;
    padding-left: 15px;
  }

  .form-user-name__item:first-child {
    margin-top: 0;
  }
}

@media (min-width: 1150px) {
  .form-user-name {
    padding-left: 115px;
  }

  .form-user-name__item input {
    width: 65%;
    margin-left: 30px;
  }

  .form-user-name__item:first-child input {
    width: 70%;
    margin-left: 25px
  }

  .form-user-name__items {
    margin-left: 70px;
  }
}
