.form-type {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.form-type__legend {
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 16px;
  color: $turquoise-color;
}

.form-type__item {
  margin-top: 30px;
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 18px;
  color:$item-color;
}
