.form-page__title {
  font-family: $main-font-bold;
  font-size: 27px;
  line-height: 30px;
  color: #231f20;
}

.form-page__description {
  font-family: $main-font;
  font-size: 13px;
  line-height: 24px;
  color: $main-text-color;
}
