.made-by {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 18px;
  color: black;
}

.made-by a {
  display: inline-block;
  width: 27px;
  height: 34px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

}
