
.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav__list {
  width:100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item a {
  display: flex;
  justify-content: center;
  align-items: middle;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: $main-font-bold;
  border-top: 1px solid $main-text-color;
}

.main-nav__item a:hover {
  color: #8f8f8f;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 25px;
  right: 8%;
  margin-top: -81px;
  width: 30px;
  height:30px;
  background: url("../img/icon-menu-close.svg") no-repeat 50% 50%;
}

.main-nav-js  {
  position: absolute;
  top: 80px;
  background: white;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 25px;
  right: 8%;
  margin-top: -81px;
  width: 30px;
  height:30px;
  background: url("../img/icon-menu-open.svg") no-repeat 50% 50%;
}

.main-nav--closed .main-nav__item {
  display: none;
}

@media (min-width: 768px) {
    .main-nav__toggle {
      display: none;
    }

    .main-nav-js {
      position: static;
    }

    .main-nav__item a {
      font-size: 17px;
      line-height: 24px;
      border-top: none;
    }

    .main-nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      margin-right: 0;
  }

  .main-nav .main-nav__list   {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .main-nav__item a {
    border-bottom: none;
  }

  .main-nav--closed .main-nav__item,
  .main-nav--opened .main-nav__item{
    display: inline-flex;
    border: none;
    align-items: center;
  }

  .main-nav::before {
    content: "Бесплатная доставка по России";
    display: inline-block;
    margin-top: 25px;
    margin-left: -245px;
    margin-bottom: -125px;
    max-width: 50%;
    height: 20px;
    order: 3;
    font-size: 15px;
    line-height: 24px;
    color: $main-text-color;
  }

}

/*desktop */
@media (min-width: 1150px) {
  .main-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  .main-nav .main-nav__list   {
    justify-content: flex-start;
  }
  .main-nav__item:nth-last-child(3) {
    margin-right: auto;
  }

  .main-nav::before {
    content: "Бесплатная доставка по России";
    display: inline-block;
    margin-top: 25px;
    margin-left: -255px;
    margin-bottom: -110px;
    max-width: 50%;
    height: 20px;
    order: 3;
    font-size: 17px;
    line-height: 30px;
    color: $main-text-color;
  }
}
