.page-footer {
  display: flex;
  flex-direction: column;
  background-color: $footer-background;
  min-height: 140px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px){
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    padding: 0 50px;
  }

  .page-footer::before {
    content: "";
    margin-top: auto;
    margin-bottom: auto;
    width: 130px;
    height: 40px;
    background: url("../img/logo-mobile.svg") no-repeat;
  }

  .page-footer::before:hover {
    background: $turquoise-color url("../img/logo-mobile.svg") no-repeat;
  }
}
