.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 80px;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-sizing: border-box;
}

  .page-header__logo {
    margin:  20px auto 20px;
  }

  /*tablet */
  @media (min-width: 768px) {
    .page-header {
      flex-direction: row;
      justify-content: flex-start;
      padding: 0 50px;
      flex-wrap: nowrap;
      position: relative;
    }

    .page-header__logo {
      display: inline-block;
      margin: 0;
    }
  }

  /* desktop */

  @media (min-width: 1150px) {
    .page-header {
      position: relative;
      width: 100%;
      padding-left: 50px;
      padding-right:  50px;
    }

    .page-header__logo {
      position: absolute;
      left: 43%;
    }

  }
