.page-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 180px;
  background: $footer-background;
  box-sizing: border-box;
  border: 1px solid $border-color;
}

@media (min-width: 768px) {
  .page-name {
    position: relative;
  }

  .page-name::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 25px;
    top: 94%;
    background: url("../img/bg-zigzag-fill.svg") no-repeat;
  }

}

@media (min-width: 1150px) {
  .page-name {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 250px;
  }

  .page-name::after {
    position: absolute;;
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    top: 95%;
    background: url("../img/bg-zigzag-fill.svg") no-repeat;
  }

}
