.page-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 180px;
  background: $footer-background;
  box-sizing: border-box;
  border: 1px solid $border-color;
}

@media (min-width: 768px) {
  .page-name {
    position: relative;
    background: $footer-background url("../img/bg-zigzag-fill.svg") no-repeat;
    background-position: bottom;
    background-position-y: 105%;
    background-size: 110%;
    border-bottom: none;
   }
 }

@media (min-width: 1150px) {
  .page-name {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 250px;
    box-sizing: border-box;
  }
}
