.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 100%;
  min-height: 80px;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-sizing: border-box;
  }

  .page-header__logo {
    margin:  20px auto 20px;
  }

  /*tablet */
  @media (min-width: 720px) {
    .page-header {
      justify-content: flex-start;
      padding: 0 50px;
    }

    .page-header__logo {
      margin: 0;
    }
  }

  /* desktop */

  @media (min-width: 1150px) {
    .page-header {
      position: relative;
    }

    .page-header__logo {
      position: absolute;
      left: 50%;
    }

  }
