.page-form__note {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-family: $main-font;
  font-size: 14px;
  line-height: 16px;
  color: $main-text-color;
}

@media (min-width: 768px) {
  .page-form__note {
    display: inline-block;
    width: 305px;
    text-align: right;
    margin-top: 63px;
    margin-left: 132px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .page-form__note {
    margin-left: 165px;
  }
}
