.page-form__note {
  margin-bottom: 30px;
  font-family: $main-font;
  font-size: 14px;
  line-height: 16px;
  color: $main-text-color;
}

@media (min-width: 768px) {
  .page-form__note{
    display: inline-block;
    width: 305px;
    text-align: right;
    margin-top: 60px;
    margin-left: 165px;
    font-size: 17px;
    line-height: 30px;
  }
}
