.product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7px 30px 0;
  box-sizing: border-box;
}

.product-card__action {
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 20px;
  color: $turquoise-color;
  text-transform: uppercase;
}

.product-card__description {
  padding-top: 20px;
  font-family: $main-font;
  font-size: 15px;
  line-height:  24px;
  color: $main-text-color;
  margin: 0;
}

.product-card__characteristics {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 20px;
  padding-top: 20px;
  font-family: $main-font;
  font-size: 15px;
  line-height: 20px;
  color: $main-text-color;
}

.product-card__characteristics td {
  min-width: 80px;
  padding: 10px 0;
}

.product-card__characteristics tr {
  border-bottom: 1px solid $border-color;
}

.product-card__price {
  padding-top: 20px;
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 24px;
  color: $main-text-color;
  text-align: center;
}

@media (min-width: 320px) and (min-resolution: 144dpi),
       (min-width: 320px) and (min-resolution: 1.5dppx) {
         .product-card__image img {
           width: 260px;
           height: 316px;
         }
       }

@media (min-width: 768px) {
  .product-card {
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 640px;
    padding: 0 50px;
    background: url("../img/bg-zigzag-line.svg") no-repeat ;
    background-position: bottom;
  }

  .product-card__wrapper {
    padding-top: 45px;
  }

  .product-card__action {
    display: inline-block;
    max-width: 35px;
    position: absolute;
    left: 80%;
    top: 10px;
    margin: 45px 10px;
    font-size: 17px;
    text-transform: uppercase;
    order: 1;
  }

  .product-card__description {
    max-width: 293px;
    order: 2;
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
    padding-top: 0;
  }

  .product-card__characteristics {
    max-width: 290px;
    padding-right: 20px;
    order: 4;
    box-sizing: border-box;
  }

  .product-card tr {
    width: 100%;
  }

  .product-card__image {
    width: 333px;
    height: 404px;
    position: absolute;
    right: 50px;
    top: 145px;
  }

  .product-card__price {
    padding-top: 26px;
    max-width: 298px;
    order: 5;
    font-size: 20px;
    line-height: 24px;
  }

  .product-card__image {
    top : 153px;
  }

   @media (min-width: 768px) and (min-resolution: 144dpi),
          (min-width: 768px) and (min-resolution: 1.5dppx) {
            .product-card__image img {
              width: 334px;
              height: 404px;
            }
          }
}

@media (min-width: 1150px) {
  .product-card {
    width: 100%;
    padding: 0 50px 50px;
    background: url("../img/bg-zigzag-line.svg") no-repeat ;
    background-position: bottom;
    background-size: 120%;
    box-sizing: border-box;
  }

  .product-card__wrapper {
    position: relative;
    max-width: 1050px;
    padding-left: 175px;
    padding-top: 125px;
    padding-bottom: 40px;
  }

  .product-card__action {
    left: 47px;
    top: 93px;
    width: 70px;
    height: 35px;
  }

  .product-card__description  {
    margin-bottom: 45px;
  }

  .product-card__characteristics {
    margin-bottom: 80px;
  }

  .product-card__price {
    margin-bottom: 35px;
  }

  .product-card__image {
    top: 75px;
    right: 190px;
    z-index: -11;
  }

  .product-card__image  img {
     z-index: -11;
  }

  @media (min-width: 1150px) and (min-resolution: 144dpi),
         (min-width: 1150px) and (min-resolution: 1.5dppx) {
           .catalog-product-card__image img {
             width: 525px;
             height: 635px;
           }
         }
}
