.production {
  position: relative;
  border: 1px solid $border-color;
}

.production__description {
  margin: 0 33px 25px;
  font-family: $main-font;
  font-size: 13px;
  line-height: 24px;
  color: $main-text-color;
}

.production::before {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  height: 77px;
  top: 130px;
  left: 30%;
  background: url("../img/icon-play.svg") no-repeat;
  z-index: 25;
}

.production__video {
  min-height: 160px;
  max-width: 100%;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-direction: column;
    margin-top: 58px;
  }

  .production::before {
    top: 140px;
    left: 45%;
  }

  .production__video {
    width: 100%;
    min-height: 450px;
    margin-bottom: 15px;
  }

  .production__description {
    margin: 15px 25px 35px;
    order: 2;
    font-size: 15px;
    line-height: 30px;
  }
  }

  @media (min-width: 1150px) {
    .production {
      display: block;
      padding-right: 65px;
      width: 100%;
      max-width: 1050px;
    }

  .production::after {
    content: "";
    display: table;
    clear: both;
  }

  .production__video {
    float: left;
    width: 600px;
  }

  .production__description {
    float: right;
    width: 225px;
    margin: 40px 0 46px;;
    margin-bottom: 54px;
    clear: right;
  }
}

@media (min-width: 1350px) {
  .production {
    margin: 0 auto;
  }
}
