.product-card__action {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
}

.product-card__description {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height:  24px;
  color: #444444;
}

.product-card__characteristics {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.product-card__price {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}
