.promo-block {
  display: flex;
  min-height: 238px;
  min-width: 320px;
  background: #ffffff url("../img/hero-mobile@1x.jpg") no-repeat 50% 50%;
  background-size: cover;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .promo-block {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 740px;
    width: 100%;
    margin-left: 0;
    padding: 0 50px;
  }

}
