.reviews__text {
  font-family: $main-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-text-color;
}

.reviews__author {
  font-family: $main-font-bold;
  /* ???
  */
}

.reviews__authors-account-name{
    font-family: $main-font;
    color: $main-text-color;
}
