.reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 45px 30px 30px;
  box-sizing: border-box;
}
.reviews__text {
  margin-top: 5px;
  font-family: $main-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-text-color;
  box-sizing: border-box;
}

.reviews__author {
  margin-top: 15px;
  font-family: $main-font-bold;
  font-size: 17px;

}

.reviews__authors-account-name{
    font-family: $main-font;
    color: $main-text-color;
}

.reviews__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid $border-color;
  margin-bottom: 38px;
  margin-top: 35px;
}

@media (min-width: 768px) {
  .reviews {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    width: 100%;
    order: 3;
  }

  .reviews__author {
    margin-top: 70px;
    order: 4;
    width: 70%;
    max-height: 30px;
    font-size: 17px;
  }

  .reviews__authors-account-name{
    width: 100%;
    margin-top: -60px;
    order: 7;
  }

  .reviews__nav {
    width: 140px;
    justify-content: space-between;
    order: 6;
    margin-top: 70px;
    margin-left: 0;
  }
}

@media (min-width: 1150px) {
  .reviews {
    padding-left: 225px;
  }
}
