.reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 30px 0;
  box-sizing: border-box;
}
.reviews__text {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: $main-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-text-color;
  box-sizing: border-box;
}

.reviews__author {
  margin-top: 15px;
  font-family: $main-font-bold;
  font-size: 17px;

}

.reviews__authors-account-name {
    margin-bottom: 38px;
    font-family: $main-font;
    color: $main-text-color;
}

.reviews__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 12px;
  padding-bottom: 12px;
  //border: 1px solid $border-color;
  margin-bottom: 37px;
}

.reviews__prev:hover svg {
  fill: #666666;
}
.reviews__next:hover svg {
  fill: #666666;
}

@media (min-width: 768px) {
  .reviews {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 75px 50px 75px;
    background: url("../img/review@1x.jpg") no-repeat ;
    background-position: left;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/review@2x.jpg") no-repeat 6%;
      background-size: 352px auto;
    }
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    width: 100%;
    order: 3;
    margin-top: 35px;

  }

  .reviews__author {
    margin-top: 42px;
    order: 4;
    width: 70%;
    max-height: 30px;
    font-size: 17px;
  }

  .reviews__authors-account-name{
    width: 100%;
    margin-top: -60px;
    order: 7;
  }

  .reviews__nav {
    width: 141px;
    justify-content: space-between;
    order: 6;
    margin-top: 43px;
    margin-right: 13px;
    margin-left: auto;
  }

  // .reviews::after {
  //   position: absolute;
  //   display: block;
  //   content: "";
  //   width: 100%;
  //   height: 25px;
  //   top: 520px;
  //   left: 0;
  //
  // }
}

@media (min-width: 1150px) {
  .reviews {
    padding-top: 65px;
    padding-left: 225px;
    padding-bottom: 70px;
    margin-bottom:60px;
    background-position: left;

  }

  // .reviews::after {
  //   position: absolute;
  //   display: block;
  //   content: "";
  //   width: 100%;
  //   margin: 0;
  //   height: 25px;
  //   top: 520px;
  //   left:10px;
  //   right: 0;
  //   background: url("../img/bg-zigzag-line.svg") no-repeat;
  // }

  .reviews__text {
    margin-top: 45px;
    margin-bottom: 38px;
    width: 91%;
  }

  .reviews__author {
    margin-top: 0;
  }

  .reviews__nav {
    margin-top: 0;
  }
}
