.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin-left: 20px;
  margin-right: 30px;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.socials__item {
  display: inline-block;
  height: 29px;
  width: 22px;

  margin-left: 37px;
  padding-top: 10px;

}

.socials__item:first-child {
  margin-left: 0;
}

@media (min-width: 768px) {
  .socials {
    display: inline-flex;
    border: none;
    margin-right: 0;
    margin-left: 46px;
  }
}
