.title {
  font-family: $main-font-bold;
  font-size: 25px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .product-card .title {
    display: inline-block;
    max-width: 500px;
    font-size: 42px;
    line-height: 50px;
  }

  .about-us .title {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews .title {
    margin-top: 85px;
    font-size: 43px;
    line-height: 50px;
    width: 70%;
  }

  .contacts .title {
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }

  .contacts .title::after {
      content: "";
      display: block;
      height: 83px;
      width: 50px;
      margin-left: auto;
      margin-top: -70px;
      background: url("../img/icon-flag.svg") no-repeat;
  }

  .catalog-product-card .title {
    font-size: 20px;
    line-height: 24px;
  }

  .production .title {
    margin-left: 44px;
    margin-right: 44px;
    order: 1;
  }
}

@media (min-width: 1150px) {
  .product-card .title {
    max-width: 530px;
    font-size: 53px;
    line-height: 57px;
      z-index: 5;
  }

  .contacts .title::after {
    display: none;
  }

  .catalog-product-card .title {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }

  .production .title {
    float: right;
    width: 230px;
    height: 100px;
    margin-bottom: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .production .title::before {
    display: block;
    content: "";
    width: 35px;
    height: 30px;
    margin-top: 0;
    // margin-bottom: 30px;
    background: url("../img/icon-video.svg");
  }

}
