.to-cart__option-name {
  font-family: $main-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-text-color;
}

.to-cart__option-item {
  font-family: $main-font-bold;
  font-size: 17px;
  line-height: 16px;
  color: $main-text-color;
}
