.to-cart {
  display: none;
}

@media (min-width: 1150px) {
  .to-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 556px;
    margin: 10px auto;
    padding-bottom: 45px;
    border: 1px solid $border-color;
    box-shadow:  0 5px 10px rgba(0,0,0,0.3);
    box-sizing: border-box;

  }

  .to-cart input {
    display: none;
  }

  .to-cart__option-name {
    font-family: $main-font;
    font-size: 15px;
    line-height: 30px;
    color: $main-text-color;
  }

  .to-cart__option-item {
    display: inline-block;
    width: 108px;
    height: 35px;
    margin-bottom: 30px;
    padding-top: 27px;
    font-family: $main-font-bold;
    font-size: 17px;
    line-height: 16px;
    color: $main-text-color;
    text-align: center;
    border: 2px solid $border-color;
  }

  input:checked + .to-cart__option-item {
    border-color: $turquoise-color;
  }

  .to-cart__option-name {
    margin-bottom: 30px;
  }

}
