$main-font-bold: "OpenSansBold", "Arial", sans-serif;
$main-font: "OpenSans", "Arial", sans-serif;
$main-text-color: #444444;
$turquoise-color: #63d1bb;
$item-color: black;
$border-color: #ececec;
$footer-background: #f1f1f1;
